<!DOCTYPE html>
<html>
  <head>
    <title>Markt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%=render  'layouts/header' %>
    <%= yield %>
    <p>copyright 2016</p>
  </body>
</html>
